
body{
    font-family: 'Inconsolata', monospace;
    background:#fff;
    color: #101010;
}   

section{
    margin-top: 20px;
    margin-bottom: 50px;
}

/* lOGO IN ALTO */

.logo {
    padding-top: 20px;   
}

.logo a {   
    font-size: 15px;   
}

/*area tools*/


.tools {
    padding: 1.5em;
    border-top: 1px solid #edecec;
    border-bottom: 1px solid #edecec;     
}

.tools h2 {
    margin: 1em auto 2em;
    font-size: 1.8em;
    color: #101010;   
}


.tools img {
    width: 60%;
    max-width: 150px;
    max-height: 80px;
    filter: grayscale(100%);
}

.flex-item {
    flex-grow: 0;
    box-sizing: content-box;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-left: 0px;
    padding-right: 0px;
    
}

#craftainvision h2 {
    margin: 1em auto;
    font-size: 1.8em;
    color: #101010;   
}

#craftainvision h3 {
    text-align: left;
    font-size: 1.5em;
}

/* Descrizione craftain*/


#craftainvision .vision {
    padding-top: 100px;
    margin-top: 100px;
}

#craftainvision .vision-item {
    margin: 4em 2em;
}

#craftainvision img {
    width: 100px;
}


.corsi{
    margin-top: 30px;
    padding-bottom: 20px;
}
#formemail .card {
    background: -webkit-linear-gradient(160deg, rgb(4, 12, 60) 0%, rgba(4, 13, 113, 0.22) 50%, rgba(0, 0, 0, 0.65) 100%), url(../img/sfondocorsi3.jpg) no-repeat;
    background-size: cover;
}

.card {
    padding: 5em 1em;
    color: #fff;
}

.card h1 {
    margin-bottom: .5em;
    font-size: 3em;
    font-weight: 500;
}

.card h4 {
    margin-bottom: 2.5em;
    font-size: 1.8em;  
}

.card p {
    font-size: 1.2em;
    
}

.card

._form-label{
    margin-top: 50px;
    color: #fff;
    font-size: 1em;
}
/*form email in fondo alla pagina */



._field-wrapper{
    border-color:  1px solid #101010;
}

#email {
    background-color: #edededab;
    box-sizing: border-box;
    color: #00d1b2;
    padding-bottom: 6em;
    margin-bottom: 0;
}

#email p {
    font-size: 0.7em;
    margin: 30px 10px; 
    color: #101010;
}



.btn{
    color: #fff;
    margin-top: 10px;
    width: 100%;
    background-color: #00d1b2;
    border: none;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all ease-in-out 300ms;
    text-decoration: none;
}    

.btn:hover {
        background-color:#06c1a5;
        box-shadow: 0px 37px 20px -15px rgba(0,0,0,0.2);
        transform: translate(0px, -1px);
    } 


.formemail{
    color: #101010;
    border: 1px solid #979797;
    border-radius: 21px;

}  

#email h4 {
    padding-top: 2em;
    color: #6772e5;
    font-size: 1.6em;
}

#email p {
    font-size: 1.1em;
}

#craftainvision {
    margin: 0px 20px;
}


#craftainvision p {
    text-align: justify;
    
}

.padd {
    padding: 1.5em;
}

footer {
    background-color: #edededab;
    padding: 2em;
    border-top: 1px solid #cecece;
    color: #454545;
}

footer img {
    height: 40px;
}

footer img:hover {
    transform: translate(0px, -1px);
}

@media only screen  and (min-width : 1824px) {  

    .card p {
        margin-top: 8em;
        

    }



  
   
}  

@media (max-width: 800.98px) { 
    
    #cardtools {
        padding-left: 0;
        padding-right: 0;
        
    }

    #cardtools h2 {
        padding: 0px 10px;
    }

    .col-md-10 {
        padding-left: 0px;
        padding-right: 0px;
    }


    #cardtools .p-2 {
        padding-left: 0px;
    }

    .card h1 {
        margin-bottom: .5em;
        font-size: 2em;
        font-weight: 500;
    }

    .card h4 {
        margin-bottom: 2.5em;
        font-size: 1.2em;  
    }

    .card p {
        font-size: 0.8em; 
    }

    .padd {
        padding: 0px;
    }

    #craftainvision h3 {
        padding-top: 10px;
    }

   




   
}

    

    



